body::before{
    display: block;
     content: "";
     height: 70px;
 }
 hr{
     border-top: 1px solid white;
     padding: 0;
     margin: 0;
 }
 @media (min-width:768px){
     .news-input{
         width: 50%;
     }
 }
 .navbar-brand{
     font-family: cursive;
     text-transform: uppercase;
 }